{% extends 'extends/main.html' %}

{% block content %}

    <section class="mb-16">
        <img
                src="{{ url_for('static', filename='img/hero.png') }}"
                alt="Hero Image"
                class="w-full my-20 sm:my-0"
        />

        <div class="flex justify-center">

            <a href="/support-us" class="btn-a">
                <img
                        src="{{ url_for('static', filename='emoji_icons/donate_emoji_48.png') }}"
                        alt="Donate Icon"
                        style="height: 24px; width: 24px;"
                />
                Support or Donate
            </a>

        </div>
    </section>

    <section class="mb-16">

        <div class="text-center">

            <div class="my-8 flex gap-2 flex-col-reverse items-center justify-center sm:flex-row sm:items-end">
                <h1 class="text-4xl">
                    Welcome to Python Scotland
                </h1>
                <img
                        src="{{ url_for('static', filename='img/scottish-flag.gif') }}"
                        alt="Scottish Flag"
                        style="height: 60px;"
                />
            </div>

            <p>
                Python Scotland aims to help, support and uplift local communities
                within Scotland that are using the Python programming language.
            </p>

            <p>
                See more about what we want to achieve on
                <a href="/our-mission" class="styled-a">Our Mission</a> page.
            </p>

        </div>

    </section>

    <section class="mb-5">

        <h1 class="text-2xl text-center">
            Communities We Manage
        </h1>

        <div class="flex flex-col gap-4  my-8">

            <div class="flex gap-2 rounded-2xl bg-gray-50 p-4 shadow-xl">
                <img
                        src="{{ url_for('static', filename='img/python-glasgow-logo.jpg') }}"
                        alt="Python Glasgow Logo"
                        class="rounded-2xl"
                        style="height: 150px; width: 150px;"
                />
                <div class="p-4">
                    <h2 class="text-xl mb-4">
                        Python Glasgow
                    </h2>
                    <p class="mb-2">
                        Python Glasgow is a community of Python developers
                        in Glasgow, Scotland.
                    </p>
                    <a href="https://www.meetup.com/python-glasgow/" class="styled-a">
                        Meetup Page
                    </a>
                </div>
            </div>

        </div>

    </section>

    <section class="mb-5">

        <h1 class="text-2xl text-center">
            Our Friends
        </h1>

        <div class="flex flex-col gap-4  my-8">

            <div class="flex gap-2 rounded-2xl bg-gray-50 p-4 shadow-xl">
                <img
                        src="{{ url_for('static', filename='img/python-edinburgh-logo.jpg') }}"
                        alt="Python Edinburgh Logo"
                        class="rounded-2xl"
                        style="height: 150px; width: 150px;"
                />
                <div class="p-4">
                    <h2 class="text-xl mb-4">
                        Python Edinburgh
                    </h2>
                    <p class="mb-2">
                        Python Edinburgh is a community of Python developers
                        in Edinburgh, Scotland.
                    </p>
                    <a href="https://www.meetup.com/python-edinburgh/" class="styled-a">
                        Meetup Page
                    </a>
                </div>
            </div>

        </div>

    </section>


    <section class="mb-5">

        <h1 class="text-2xl text-center">
            Our Partners and Sponsors
        </h1>

        <div class="flex flex-wrap gap-6 items-center justify-center my-8">

            <a href="https://www.codedivision.co.uk" target="_blank">
                <img
                        src="{{ url_for('static', filename='img/code_division_logo.png') }}"
                        alt="CodeDivision Logo"
                />
            </a>

            <a href="https://uilix.com" target="_blank">
                <img
                        src="{{ url_for('static', filename='img/uilix_logo.png') }}"
                        alt="UiliX Logo"
                />
            </a>

            <a href="https://www.thegamerclub.co.uk" target="_blank">
                <img
                        src="{{ url_for('static', filename='img/tgc_logo.png') }}"
                        alt="The Gamer Club Logo"
                />
            </a>

        </div>

    </section>


    {#    {{ pinned_article('pages/home/1_welcome.html') }}#}


{% endblock %}