{% extends 'extends/main.html' %}

{% block content %}

    <section class="mb-5">

        <img
                src="{{ url_for('static', filename='emoji_icons/mission_emoji_48.png') }}"
                alt="Mission Icon"
                class="my-12 mx-auto"
                style="height: 30px; width: 30px;"
        />

        <div class="flex flex-col gap-4 my-8">

            <div class="flex flex-col gap-4 rounded-2xl bg-gray-50 p-12 shadow-xl">

                <p class="font-bold">
                    Python Scotland's mission is to empower both beginner and expert Pythonistas across Scotland by
                    fostering a supportive and accessible environment for learning and collaboration.
                </p>
                <p>
                    We are dedicated to strengthening the local Python ecosystem by providing support to
                    grassroots initiatives and the local communities within Scotland that are using the
                    Python programming language.
                </p>
                <p>
                    One of our main goals is to be a reliable source of funding and assets for
                    Python communities across Scotland.
                </p>

            </div>

        </div>

    </section>

    <section class="mb-5">

        <h1 class="text-2xl text-center">
            Current Organisers
        </h1>

        <div class="flex flex-wrap gap-6 items-stretch justify-center my-8">

            <div class="flex flex-col rounded-2xl gap-4 w-60 shadow-xl p-10 bg-gray-50 text-center ">

                <img
                        src="{{ url_for('static', filename='img/Ricardo.jpeg') }}"
                        alt="Ricardo's Display Picture"
                        class="rounded-full border"
                />

                <h1 class="text-2xl">Ricardo</h1>

                <small>
                    <a target="_blank" class="styled-a" href="https://github.com/rigsnv">GitHub</a>
                </small>

            </div>

            <div class="flex flex-col rounded-2xl gap-4 w-60 shadow-xl p-10 bg-gray-50 text-center ">

                <img
                        src="{{ url_for('static', filename='img/David.jpeg') }}"
                        alt="David's Display Picture"
                        class="rounded-full border"
                />

                <h1 class="text-2xl">David</h1>

                <small class="break-words">
                    <a target="_blank" class="styled-a" href="https://github.com/CheeseCake87">GitHub</a>
                </small>

            </div>

            <div class="flex flex-col rounded-2xl gap-4 w-60 shadow-xl p-10 bg-gray-50 text-center ">

                <img
                        src="{{ url_for('static', filename='img/Juan.jpeg') }}"
                        alt="Juan's Display Picture"
                        class="rounded-full border"
                />

                <h1 class="text-2xl">Juan</h1>

                <small>
                    <a target="_blank" class="styled-a" href="https://github.com/CheeseCake87">GitHub</a>
                </small>

            </div>

            <div class="flex flex-col rounded-2xl gap-4 w-60 shadow-xl p-10 bg-gray-50 text-center ">

                <img
                        src="{{ url_for('static', filename='img/Arron.jpeg') }}"
                        alt="Arron's Display Picture"
                        class="rounded-full border"
                />

                <h1 class="text-2xl">Arron</h1>

                <small>
                    <a target="_blank" class="styled-a" href="https://github.com/scottish3dprinter">GitHub</a>
                </small>

            </div>

        </div>

    </section>

{% endblock %}